<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuelangyun.shangfei.sacsc.datasource.mapper.CsRunTroublesShootingMapper">
    <resultMap id="BaseResultMap" type="com.xuelangyun.shangfei.sacsc.domain.entity.CsRunTroublesShooting">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tail_number" jdbcType="VARCHAR" property="tailNumber"/>
        <result column="msn" jdbcType="VARCHAR" property="msn"/>
        <result column="fly_status" jdbcType="VARCHAR" property="flyStatus"/>
        <result column="cas" jdbcType="VARCHAR" property="cas"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="cms" jdbcType="VARCHAR" property="cms"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>