<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuelangyun.shangfei.sacsc.datasource.mapper.ExpressPoiAirportMapper">
    <resultMap id="BaseResultMap" type="com.xuelangyun.shangfei.sacsc.domain.entity.ExpressPoiAirport">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="wind_speed" jdbcType="VARCHAR" property="windSpeed"/>
        <result column="wind_direction" jdbcType="VARCHAR" property="windDirection"/>
        <result column="temperature" jdbcType="VARCHAR" property="temperature"/>
        <result column="humidity" jdbcType="VARCHAR" property="humidity"/>
        <result column="weather_flag" jdbcType="VARCHAR" property="weatherFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>