<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuelangyun.shangfei.sacsc.datasource.mapper.FlywinSalesSpRioMapper">
    <resultMap id="BaseResultMap" type="com.xuelangyun.shangfei.sacsc.domain.entity.FlywinSalesSpRio">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="order_name" jdbcType="VARCHAR" property="orderName"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="order_type" jdbcType="VARCHAR" property="orderType"/>
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="plane_complete_date" jdbcType="TIMESTAMP" property="planeCompleteDate"/>
        <result column="order_content" jdbcType="VARCHAR" property="orderContent"/>
        <result column="order_quantity" jdbcType="INTEGER" property="orderQuantity"/>
        <result column="order_amount" jdbcType="DOUBLE" property="orderAmount"/>
        <result column="air_company" jdbcType="VARCHAR" property="airCompany"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>