<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuelangyun.shangfei.sacsc.datasource.mapper.FlywinSalesShortageWarningMapper">
    <resultMap id="BaseResultMap" type="com.xuelangyun.shangfei.sacsc.domain.entity.FlywinSalesShortageWarning">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="part_no" jdbcType="VARCHAR" property="partNo"/>
        <result column="part_name" jdbcType="VARCHAR" property="partName"/>
        <result column="stock_number" jdbcType="INTEGER" property="stockNumber"/>
        <result column="required_stock_number" jdbcType="INTEGER" property="requiredStockNumber"/>
        <result column="remain_date" jdbcType="DATE" property="remainDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>